.toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
	border: #ccc 1px solid;
}

.toolbar-title {
	text-decoration: none;
	color: var(--color-text);
	font-size: x-large;
}

.button-icon {
	height: 18px;
	width: 18px;
}

.github-link {
	display: flex;
	align-items: center;
	gap: 0.125rem;
	color: var(--color-text);
}
